a {
  margin: 5px;
}

.App {
  margin: 0%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px double rgb(17, 133, 27);
  text-align: center;
  font-weight: 600;
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(141, 209, 141);
}